@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

#connect{
    background: #9AB886 !important;
    border-radius: 50px !important;
    padding: 0 !important;
}

#connect .ik-flex{
    padding: 0 !important;
}