@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

#connect{
    background: #146F68 !important;
    border-radius: 50px !important;
    padding: 0 !important;
    text-transform: capitalize;
}

#connect .ik-flex{
    padding: 0 !important;
}

.guide-scrollbar{
    max-height: 280px;
    overflow: auto;
}

.guide-scrollbar::-webkit-scrollbar {
    width: 20px; /* Vertical scrollbar width */
    height: 20px; /* Horizontal scrollbar height */
    border-radius: 100px;
}

.guide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid #146082;
    /* border-radius: 100px; */
    border-bottom-right-radius: 12px;
    margin: 0px; /* Creates spacing for border visibility */
}

.guide-scrollbar::-webkit-scrollbar-thumb {
    background: #146082;
    border-radius: 100px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.guide-scrollbar a{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}


.account-scrollbar{
    max-height: 250px;
    overflow: auto;
    margin-right: 5px;
}


.account-scrollbar::-webkit-scrollbar {
    width: 20px; /* Vertical scrollbar width */
    height: 20px; /* Horizontal scrollbar height */
    border-radius: 100px;
}

.account-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border: 2px solid #146082;
    margin: 0px; /* Creates spacing for border visibility */
}

.account-scrollbar::-webkit-scrollbar-thumb {
    background: #146082;
    border-radius: 100px;
    border: 3px solid transparent;
    background-clip: content-box;
}
/* .account-scrollbar::-webkit-scrollbar-track {
    border-left: 0px !important;
 } */
@media (max-width: 600px){
    .account-scrollbar{
        margin-right:0px;
    }

}